<?xml version="1.0"?>
<config>
    <sections>
        <koality translate="label" module="koality_magentoplugin">
            <label>koality.io</label>
            <tab>service</tab>
            <sort_order>42</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>exit
            <groups>
                <api translate="label">
                    <label>API key</label>
                    <sort_order>42</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <key translate="label">
                            <label>Your secret API key</label>
                            <frontend_type>label</frontend_type>
                            <comment>The API key must be added to the configuration in the koality.io backend.</comment>
                            <sort_order>42</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </key>
                        <refresh_key>
                            <frontend_type>button</frontend_type>
                            <frontend_model>koality_magentoplugin/adminhtml_system_config_form_refreshApiKeyButton</frontend_model>
                            <sort_order>84</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </refresh_key>
                    </fields>
                </api>
                <rush_hour>
                    <label>Rush hour</label>
                    <sort_order>84</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <begin translate="label">
                            <label>When does your rush hour begin?</label>
                            <frontend_type>time</frontend_type>
                            <sort_order>42</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </begin>
                        <end translate="label">
                            <label>When does your rush hour end?</label>
                            <frontend_type>time</frontend_type>
                            <sort_order>84</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </end>
                        <include_weekends translate="label">
                            <label>Does the rush hour also happen on the weekend?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>126</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </include_weekends>
                    </fields>
                </rush_hour>
                <orders_per_hour translate="label">
                    <label>Orders per hour</label>
                    <sort_order>126</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <min_orders_per_normal_hour translate="label">
                            <label>How many orders do you at least expect every hour in general?</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>42</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-number</validate>
                        </min_orders_per_normal_hour>
                        <min_orders_per_rush_hour translate="label">
                            <label>How many orders do you at least expect every hour in the rush hour?</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>84</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-number</validate>
                        </min_orders_per_rush_hour>
                    </fields>
                </orders_per_hour>
                <open_carts translate="label">
                    <label>Open Carts</label>
                    <sort_order>168</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <max_open_carts_per_normal_hour translate="label">
                            <label>How many open carts may exist in general?</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>42</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-number</validate>
                        </max_open_carts_per_normal_hour>
                        <max_open_carts_per_rush_hour translate="label">
                            <label>How many open carts may exist during the rush hour?</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>84</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-number</validate>
                        </max_open_carts_per_rush_hour>
                    </fields>
                </open_carts>
                <active_products translate="label">
                    <label>Active Products</label>
                    <sort_order>210</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <min_active_products translate="label">
                            <label>How many active products must at least exist?</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>42</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-number</validate>
                        </min_active_products>
                    </fields>
                </active_products>
            </groups>
        </koality>
    </sections>
</config>
