<?xml version="1.0"?>
<config>
    <tabs>
        <koality translate="label" module="koality_magentoplugin">
            <label>Koality</label>
            <sort_order>420</sort_order>
        </koality>
    </tabs>
    <sections>
        <koality_service translate="label" module="koality_magentoplugin">
            <label>Koality Service</label>
            <tab>koality</tab>
            <sort_order>42</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>exit
            <groups>
                <koality_apikey translate="label">
                    <label>koality.io API key</label>
                    <sort_order>42</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <apikey translate="label">
                            <label>Your secret koality.io API key</label>
                            <frontend_type>label</frontend_type>
                            <comment>The API key must be added to the koality.io configuration in the koality.io backend.</comment>
                            <sort_order>42</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </apikey>
                    </fields>
                </koality_apikey>
                <orders_per_hour translate="label">
                    <label>Orders per hour</label>
                    <sort_order>84</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <minOrdersPerHourNormal translate="label">
                            <label>How many orders do you at least expect every hour outside the rush hour?</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>42</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </minOrdersPerHourNormal>
                        <rushHourBegin translate="label">
                            <label>When does your rush hour begin?</label>
                            <frontend_type>time</frontend_type>
                            <sort_order>42</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </rushHourBegin>
                        <rushHourEnd translate="label">
                            <label>When does your rush hour end?</label>
                            <frontend_type>time</frontend_type>
                            <sort_order>84</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </rushHourEnd>
                        <includeWeekends translate="label">
                            <label>Does the rush hour also happen on the weekend?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>126</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </includeWeekends>
                        <minOrdersPerHourRushHour translate="label">
                            <label>How many orders do you at least expect every hour in the rush hour?</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>168</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </minOrdersPerHourRushHour>
                    </fields>
                </orders_per_hour>
                <open_carts translate="label">
                    <label>Open Carts</label>
                    <sort_order>126</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <maxOpenCarts translate="label">
                            <label>How many open carts may exist?</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>42</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </maxOpenCarts>
                    </fields>
                </open_carts>
                <active_products translate="label">
                    <label>Active products</label>
                    <sort_order>168</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <minActiveProducts translate="label">
                            <label>How many active products must at least exist?</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>42</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </minActiveProducts>
                    </fields>
                </active_products>
                <newsletter_subscriptions translate="label">
                    <label>Newsletter Subscribers</label>
                    <sort_order>210</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <minNewsletterSubscriptions translate="label">
                            <label>How many new newsletter subscriptions should be made daily?</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>42</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </minNewsletterSubscriptions>
                    </fields>
                </newsletter_subscriptions>
            </groups>
        </koality_service>
    </sections>
</config>
